<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- ADAPTIVITY -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#FC2C38">
	
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#FC2C38">
	
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="apple-touch-fullscreen" content="yes">
	
	<!-- CONFIG -->
	<title>Стажировка в Mail.ru Group</title>
	<meta property="og:title" content="Стажировка в Mail.ru Group"/>
	<meta itemprop="description" content="Три разных формата на выбор, удобный график, интересные проекты и достойная оплата. Для студентов и молодых специалистов."/>
	<meta property="og:description" content="Три разных формата на выбор, удобный график, интересные проекты и достойная оплата. Для студентов и молодых специалистов."/>
	<meta property="og:image" content="img/first-block-img.jpg"/>
	<meta property="og:image:type" content="image/jpeg"/>
	<meta property="og:image:width" content="1000"/>
	<meta property="og:image:height" content="330"/>
	<meta property="og:type" content="website" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="width" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	
	<!-- CSS -->
	<link rel="stylesheet" href="css/main.min.css">
</head>
<body @@if (bodyclass) { class=@@bodyclass }>