<div class="nav" id="js-navigation">
    <div class="nav__container container">
        <div class="nav__logo">
            <div class="nav__logo-inner">
                <img class="nav__logo-default" src="img/logo.svg" alt="Стажировка в Mail.ru Group"/>
                <img class="nav__logo-black" src="img/logo-black.svg" alt="Стажировка в Mail.ru Group"/>
            </div>
            <button class="hamburger hamburger_effect-2" type="button" id="js-nav-hamburger">
                    <span class="hamburger__lines">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
            </button>
        </div>
        <nav class="nav__menu" id="js-navigation-menu">
            <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-format">Форматы</a></li>
            <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-program">Направления</a></li>
            <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-howto">Отбор</a></li>
            <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-events">Мероприятия</a></li>
            <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-study">Образовательные проекты</a></li>
            <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-reviews">Отзывы</a></li>
            <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-faq">FAQ</a></li>
        </nav>
    </div>
</div>