<div class="nav" id="js-navigation">
  <div class="nav__container container">
    <div class="nav__logo">
      <div class="nav__logo-inner">
        <img class="nav__logo-default" src="img/logo.png" alt="Logo"/>
      </div>
      <button class="hamburger hamburger_effect-2" type="button" id="js-nav-hamburger">
        <span class="hamburger__lines">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
    </div>
    <nav class="nav__menu" id="js-navigation-menu">
      <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-format">Сетевой бизнес</a></li>
      <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-format">Рынок круизов</a></li>
      <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-format">Начать бизнес</a></li>
      <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-format">Сообщество</a></li>
    </nav>
  </div>
</div>