<footer class="page-footer">
	<div class="container page-footer__container">
		<img class="page-footer__logo" src="img/logo.png" alt="Logo"/>
		<nav class="page-footer__menu">
			<li class="page-footer__menu-item"><a class="page-footer__menu-item-link" data-scroll="data-scroll" href="#section-steps">Сетевой бизнес</a></li>
			<li class="page-footer__menu-item"><a class="page-footer__menu-item-link" data-scroll="data-scroll" href="#section-market">Рынок круизов</a></li>
			<li class="page-footer__menu-item"><a class="page-footer__menu-item-link" data-scroll="data-scroll" href="#section-why">Начать бизнес</a></li>
			<li class="page-footer__menu-item"><a class="page-footer__menu-item-link" data-scroll="data-scroll" href="#section-connect">Сообщество</a></li>
			<li class="page-footer__menu-item"><a class="btn page-footer__menu-item-link_button" data-scroll="data-scroll" href="#form">Зарегистрироваться</a></li>
		</nav>
	</div>
	<p class="page-footer__copy">Все права защищены Grono © 2021</p>
</footer>