<footer class="page-footer">
	<div class="container">
		<div class="page-footer__main-row">
			<div class="page-footer__main-col">
				<div class="page-footer__col-title">Наши проекты</div>

				<ul class="page-footer__nav-links">
					<li>
						<a href="https://ambassador.mail.ru/" target="_blank">Амбассадоры</a>
					</li>

					<li>
						<a href="https://education.mail.ru/" target="_blank">Образовательные проекты</a>
					</li>
				</ul>
			</div>

			<div class="page-footer__main-col">
				<div class="page-footer__col-title">Мы в соцсетях</div>

				<ul class="page-footer__social-links">
					<li>
						<a href="https://vk.com/mrgforedu" target="_blank"><i class="icon-vk"></i></a>
					</li>
					<li>
						<a href="https://ok.ru/mrgforedu" target="_blank"><i class="icon-odnoklassniki"></i></a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UCmqEpAsQMcsYaeef4qgECvQ" target="_blank"><i class="icon-youtube-new"></i></a>
					</li>
				</ul>
			</div>

			<div class="page-footer__main-col">
				<div class="page-footer__col-title">Связаться с нами</div>

				<div class="page-footer__contact-row">
					<a href="mailto:internship@mail.ru" class="btn btn--bordered page-footer__join-button">
						<span>Обратная связь</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>