.form-checkbox {
  $self: &;

  position: relative;
  display: block;
  user-select: none;
  cursor: pointer;

  &_inline {
    display: inline-block;
  }

  + .form-checkbox {
    margin-top: 15px;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 35px;
    font-size: 14px;
    margin-bottom: 0;
    text-align: left;
  }

  &_text-large &__text {
    font-weight: bold;
    font-size: 18px;
  }

  &__indicator {
    position: absolute;
    top: 15px;
    left: 0;
    width: 20px;
    height: 20px;
    transition: all ease 0.3s;
    transform: translateY(-50%);

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all ease 0.3s;
      content: "";
      transform: scale(0);
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    visibility: hidden;
  }

  input[type="radio"] + &__indicator {
    border: 1px solid #000;
    border-radius: 100%;

    &:before {
      width: 50%;
      height: 50%;
      margin-top: -25%;
      margin-left: -25%;
      border-radius: 100%;
    }
  }

  input[type="radio"]:checked + &__indicator {
    &:before {
      transform: scale(1);
    }
  }

  input[type="checkbox"] + &__indicator {
    border: 1px solid #000;

    &:before {
      width: 7px;
      height: 13px;
      top: 1px;
      left: 6px;
      border-style: solid;
      border-width: 0 3px 3px 0;
      transform: rotate(0deg) scale(0);
    }
  }

  @include media-breakpoint-up(md) {
    &_large &__text {
      font-size: 12px;
    }

    &_large &__indicator {
      width: 20px;
      height: 20px;
    }

    &_large input[type="checkbox"] + &__indicator {
      &:before {
        width: 8px;
        height: 20px;
        top: -8px;
        left: 9px;
      }
    }
  }

  input[type="checkbox"]:checked + &__indicator {
    background-color: $brand-color;
    border-color: $brand-color;
    &:before {
      transform: rotate(45deg) scale(1);
    }
  }

  &_brand input[type="radio"] + &__indicator {
    &:before {
      background-color: #fff;
    }
  }

  &_brand input[type="checkbox"] + &__indicator {
    &:before {
      border-color: #fff;
    }
  }
}
