.custom-select {
  &__title {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .select2-selection--single .select2-selection__rendered {
    font-size: 18px;
    padding-right: 35px;
  }

  .select2-selection--single {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #000;
    height: auto;
    padding: 5px;
    outline: none;
    b {
      display: none;
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    @include icon(arrow-select);
    color: #000000;
    font-size: 8px;
    right: 10px;
    top: 18px;
    width: auto;
    height: auto;
  }

  .select2-container--open .select2-selection--single {
    .select2-selection__arrow {
      transform: scaleY(-1);
    }
  }

  &.no-border {
    .select2-selection--single {
      border: none;
      border-bottom: 1px solid #000;
      padding-left: 0;
    }
    .select2-selection--single .select2-selection__rendered {
      padding-left: 0;
    }
  }
}


.select2-dropdown.custom-select-dropdown {
  border: none;
  border-radius: 0;
  background-color: #F5F6F6;

  .select2-results__option {
    padding: 12px;
    font-size: 18px;
  }

  .select2-results__options {
    border: 1px solid #000;
    margin-top: -1px;
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: $brand-color;
  }
}