.page-footer {
	margin-top: 45px;
	margin-bottom: 30px;
	&__logo {
		height: 40px;
	}
	&__copy {
		text-align: center;
		font-size: 14px;
		margin-top: 30px;
	}
	&__menu-item {
		display: block;
		transition: all ease 0.3s;
	}

	&__menu-item-link {
		display: block;
		position: relative;
		color: #000;
		font-size: 15px;
		font-weight: 500;
		transition: all ease 0.3s;
		text-decoration: none;
		padding: 10px 15px;
		&:hover {
			color: $brand-color;
			text-decoration: none;
		}
	}
	@include media-breakpoint-up(lg) {
		margin-top: 70px;
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__menu {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&__menu-item:not(:last-child) {
			margin-right: 45px;
		}
		&__menu-item-link {
			color: #fff;
			padding: 0;
			font-size: 16px;
			&:hover {
				color: $brand-color;
			}
		}
		&__menu-item-link_button {
			min-width: auto;
			&:hover {
				transform: none;
			}
		}
	}
}