[contenteditable] {
	outline: none !important;
}

.form-control {
	border: none;
	outline: none !important;
	-webkit-appearance: none;
	background: none;
	overflow: hidden;

	height: 68px;
	line-height: normal;
	color: #000;
	font-weight: 400;
	font-size: 18px;
	font-family: $font-family; 
	
	border-radius: 0;
	
	border: 1px solid #E5E5E5;
	
	padding-left: 20px;
	padding-right: 0;

	width: 100%;
	background-color: #fff;

	transition: border-color 0.2s ease-in-out;

	&--password {
		letter-spacing: 5px;
		font-size: 30px;
	}

	// Unstyle the caret on `<select>`s in IE10+.
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}

	&:-moz-focusring {
		color: transparent;
	}

	&::placeholder {
		color: #BDBDBD;
		// Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
		opacity: 1;
	}

	&:-moz-placeholder {
		color: #BDBDBD;
	}
	&::-moz-placeholder { 
		color: #BDBDBD;
	}
	&:-ms-input-placeholder { 
		color: #BDBDBD;
	}
	&::-webkit-input-placeholder {
		color: #BDBDBD;
	}

	&:hover {
		border-color: darken(#E5E5E5, 5%);
	}

	&:focus {
		border-color: #000;
	}

	&.is-invalid {
		border-color: #FC2C38;
	}

	&__wrapper {
		margin-bottom: 25px;
		width: 100%;

		label {
			color: #BDBDBD;
			margin-bottom: 0;
			font-size: 13px;
			display: block;
			margin-bottom: 10px;
			line-height: 20px;
			font-weight: 400;
		}
	}

	@include media-breakpoint-down(sm) {
		font-size: 16px;
		height: 50px;
	}
}

textarea.form-control {
	height: 230px;
	min-height: 140px;

	padding-top: 24px;
	padding-bottom: 24px;
	padding-right: 20px;
	padding-left: 20px;
	resize: none;

	
}

.invalid-feedback {
	font-size: 13px;
	color: #FC2C38;
	margin-top: 5px;
	line-height: 20px;
	display: block;
}


select.form-control {

	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03Ljk5OTkyIDYuNTg1NzlMMTQuMjkyOCAwLjI5Mjg5MkwxNS43MDcgMS43MDcxMUw3Ljk5OTkyIDkuNDE0MjFMMC4yOTI4MTkgMS43MDcxMUwxLjcwNzAzIDAuMjkyODkyTDcuOTk5OTIgNi41ODU3OVoiIGZpbGw9IiNEQURBREEiLz4KPC9zdmc+Cg==");

	background-repeat: no-repeat;
	background-size: auto 10px;
	background-position: right 13px center;

	padding-right: 50px;	
	

	&:focus::-ms-value {
		// Suppress the nested default white text on blue background highlight given to
		// the selected option text when the (still closed) <select> receives focus
		// in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
		// match the appearance of the native widget.
		// See https://github.com/twbs/bootstrap/issues/19398.
		color: #ddd;
		background-color: #ddd;
	}

	// Styles for "pseudo" placeholder when select is not selected
	&:not(.not-empty) {
		color: #BCBFC7;
		font-weight: 400;
	}
}

.is-invalid {
	.select2-container--default .select2-selection--single {
		border-color: #FC2C38;
	}
}

.checkbox-wrapper {
	
	label {
		user-select: none;
		cursor: pointer;
		position: relative;
		display: inline-block;
		padding-left: 30px;
		
		color: #000;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		
		margin-bottom: 0;
		
		a {
			text-decoration: none !important;
			color: #000 !important;
			border-bottom: 1px solid #000;
			
			transition: all 0.2s ease-in-out;
			
			&:hover {
				border-bottom-color: transparent;
			}
		}
		
		&:before {
			content: "";
			display: block;
			
			width: 14px;
			height: 14px;
			
			border-radius: 2px;
			background-color: transparent;
			border: 1px solid #C4C4C4;
			
			position: absolute;
			left: 0;
			top: 6px;
		}
	}
	
	input {
		display: none;
		
		&:checked + label:before {
			background-color: $brand-color;
			border-color: $brand-color;
		}
	}

	@include media-breakpoint-down(sm) {
		label {
			font-size: 16px;
		}
	}
}

.radio-wrapper {
	
	label {
		user-select: none;
		cursor: pointer;
		position: relative;
		display: inline-block;
		padding-left: 30px;
		
		color: #000;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		
		margin-bottom: 0;
		
		a {
			text-decoration: none !important;
			color: #000 !important;
			border-bottom: 1px solid #000;
			
			transition: all 0.2s ease-in-out;
			
			&:hover {
				border-bottom-color: transparent;
			}
		}
		
		&:before {
			content: "";
			display: block;
			
			width: 14px;
			height: 14px;
			
			border-radius: 2px;
			background-color: transparent;
			border: 1px solid #C4C4C4;
			
			position: absolute;
			left: 0;
			top: 6px;
		}
	}
	
	input {
		display: none;
		
		&:checked + label:before {
			background-color: $brand-color;
			border-color: $brand-color;
		}
	}

	@include media-breakpoint-down(sm) {
		label {
			font-size: 16px;
		}
	}
}

@mixin loader-anim {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzgiIGhlaWdodD0iMzgiIHZpZXdCb3g9IjAgMCAzOCAzOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHJva2U9IiMyN2FlNjEiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgc3Ryb2tlLXdpZHRoPSIyIj48Y2lyY2xlIHN0cm9rZS1vcGFjaXR5PSIuNSIgY3g9IjE4IiBjeT0iMTgiIHI9IjE4IiAvPjxwYXRoIGQ9Ik0zNiAxOGMwLTkuOTQtOC4wNi0xOC0xOC0xOCI+PGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTggMTgiIHRvPSIzNjAgMTggMTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPiA8L3BhdGg+PC9nPjwvZz48L3N2Zz4=);
}

form.loading {
	position: relative;
	
	&:before {
		content: "";
		display: block;
		
		width: 100%;
		height: 100%;
		
		background-color: rgba(255,255,255,0.6);
		
		background-repeat: no-repeat;
		background-size: 50px auto;
		background-position: center center;
		
		@include loader-anim;
		
		position: absolute;
		top: 0;
		left: 0;
		
		z-index: 50;
	}
}


input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

// Form grid
//
// Special replacement for our grid system's `.row` for tighter form layouts.
.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	> .col,
	> [class*="col-"] {
		padding-right: 15px;
		padding-left: 15px;
	}

	&.no-gutters {
		margin-left: 0;
		margin-right: 0;
	}
}

input::-ms-clear {
    display: none;
}

input::-ms-clear {  display: none; width : 0; height: 0; }
input::-ms-reveal {  display: none; width : 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

