.page-line {
  position: absolute;
  z-index: -1;
  clip-path: inset(0 0 5% 0);
  @include media-breakpoint-up(sm) {
    top: 480px;
    left: 100px;
  }
  @include media-breakpoint-up(lg) {
    left: 300px;
  }
  @include media-breakpoint-up(xl) {
    left: 400px
  }
}