.custom-file-upload {
  input[type="file"] {
    display: none;
  }
  &__title {
    font-size: 14px;
  }
  &__clear,
  &__name {
    display: none;
  }
  &__name {
    font-size: 18px;
  }
  &__clear {
    @include icon(clear);
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
  }
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    &__label {
      margin-bottom: 0;
    }
    &__title {
      margin-left: 45px;
    }
  }

  &.is-file-added {
    .custom-file-upload__clear,
    .custom-file-upload__name {
      display: inline-block;
      vertical-align: middle;
    }
    .custom-file-upload__title,
    .custom-file-upload__button {
      display: none;
    }
  }
}