.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  transition: all ease 0.3s;
  z-index: 100;
  background-color: #fff;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    img {
      height: 22px;
    }
  }

  &__logo-default {
    display: none;
  }

  &__logo-black {
    display: block;
  }

  &__container {
    height: 100%;
    flex-basis: 100%;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    transition: all ease 0.3s;
    padding: 60px 0 100px 0;
    overflow-y: auto;
    transform: translateZ(0) translateY(-120%);
    z-index: -1;
  }

  &__menu_active {
    transform: none;
  }

  &__menu-item {
    display: block;
    transition: all ease 0.3s;
  }

  &__menu-item-link {
    display: block;
    position: relative;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: all ease 0.3s;
    text-decoration: none;
    padding: 10px 15px;
    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    height: auto;
    top: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 100;
    background-color: transparent;
    &_scrolled {
      position: fixed;
      top: 0;
      background-color: #fff;
    }
    &__logo {
      height: auto;
      margin-bottom: 30px;
    }
    &__logo-default {
      display: block;
    }

    &__logo-black {
      display: none;
    }
    &_scrolled &__logo {
      display: none;
    }
    &__menu {
      position: relative;
      top: 0;
      background-color: transparent;
      padding: 0;
      transform: none;
      z-index: 1;
      display: flex;
      align-items: center;
    }
    &__menu-item {
      margin-right: 20px;
    }
    &__menu-item-link {
      color: #fff;
      padding: 0;
      font-size: 16px;
      &:hover {
        color: $brand-color;
      }
    }
    &_scrolled &__menu-item-link {
      color: #000;
      &:hover {
        color: $brand-color;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__menu-item {
      margin-right: 30px;
    }
    &__menu-item-link {
      font-size: 18px;
    }
  }
}