.registration {
  &_full {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__grid {
    display: grid;
    grid-gap: 10px;
  }
  &__image {
    position: relative;
    text-align: center;
    &-coin {
      position: absolute;
    }
    &-logo {
      position: absolute;
      left: 0;
      top: 0;
      height: 40px;
    }
    &-coin_1 {
      top: 0;
      right: 0;
      width: 40px;
      animation: translateYInfinite 5s ease-in-out infinite;
    }
    &-coin_2 {
      bottom: 0;
      left: 0;
      width: 75px;
      animation: translateYInfinite 10s ease-in-out infinite;
      filter: blur(3px);
    }

    &-map {
      position: absolute;
      z-index: -1;
      left: -105%;
      top: 5%;
      max-width: none;
    }
    &-main {
      max-width: 175px;
    }
  }
  &__info {
    &-description {
      margin-top: 30px;
      text-align: center;
    }
  }
  &__form {
    position: relative;
    background: #192239;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    form {
      margin-top: 30px;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    border-radius: 12px;
    margin-right: 10px;
    width: 95px;
    height: 60px;
    &_telegram {
      background: #4BA7E6;
    }
    &_viber {
      background: #5F308E;
    }
    img {
      height: 35px;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  &__title {
    font-size: 20px;
  }
  &__title_margin {
    margin-bottom: 30px;
  }
  @include media-breakpoint-up(md) {
    &_offset {
      margin-top: 200px;
    }
    &__grid {
      grid-template-columns: 1fr 550px;
      grid-gap: 60px;
    }
    &__form {
      padding: 50px 30px;
    }
    &__image {
      &-coin_1 {
        width: 100px;
      }
      &-coin_2 {
        width: 150px;
      }
      &-main {
        max-width: 100%;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &_full {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    &__title {
      font-size: 40px;
    }
  }
}