.steps {
  &__container {
    position: relative;
  }
  &__coin {
    position: absolute;
    z-index: -1;
    width: 100px;
  }
  &__list {
    display: grid;
    grid-gap: 30px;
    list-style: none;
  }
  &__coin_1 {
    width: 75px;
    top: -10%;
    left: 40%;
    animation: rotateInfinite 20s linear infinite;
  }
  &__coin_2 {
    width: 100px;
    top: 55%;
    left: 25%;
    animation: rotateInfiniteNegative 50s ease-out infinite;
  }
  &__coin_3 {
    display: none;
    width: 120px;
    top: 20%;
    left: 70%;
    animation: rotateInfinite 40s linear infinite;
  }
  &__coin_4 {
    width: 125px;
    top: 95%;
    left: 45%;
    animation: rotateInfiniteNegative 70s ease-in-out infinite;
  }
  &__item {
    &-number {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: $font-bold;
      background-color: $brand-color;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }
    &-text {
      max-width: 370px;
    }
  }
  @include media-breakpoint-up(md) {
    margin-top: 250px;
    &__list {
      grid-gap: 120px;
      padding-left: 260px;
    }
    &__item {
      display: flex;
    }
    &__item:nth-child(2) {
      padding-left: 50px;
    }
    &__item:nth-child(3) {
      padding-left: 160px;
    }
    &__item-text {
      margin-top: 10px;
    }
    &__item-number {
      margin-right: 30px;
      margin-bottom: 0;
    }
    &__coin_1 {
      width: 150px;
      top: -60%;
      left: 40%;
    }
    &__coin_2 {
      width: 220px;
      top: -28%;
      left: 5%;
    }
    &__coin_3 {
      display: block;
      width: 175px;
      top: 20%;
      left: 70%;
    }
    &__coin_4 {
      width: 200px;
      top: 60%;
      left: 5%;
    }
  }
}