.travel {
  &__title {
    margin-bottom: 30px;
  }
  &__illustration {
    position: relative;
    text-align: right;
    z-index: 2;
    margin-top: 30px;
  }
  &__illustration-rudder-outer {
    position: absolute;
    top: 35%;
    left: 60%;
    width: 30px;
  }
  &__inner {
    position: relative;
  }
  &__footer {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 250px;
    &__title {
      margin-bottom: 45px;
    }
    &__footer {
      margin-top: 0;
    }
    &__column {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: 350px;
      z-index: 10;
    }
    &__illustration {
      left: 100px;
    }
    &__illustration-image {
      max-width: 910px;
    }
    &__illustration-rudder-outer {
      width: auto;
    }
    &__inner {
      margin-bottom: 70px;
    }
  }
  @include media-breakpoint-up(lg) {
    &__column {
      max-width: 550px;
    }
  }
}